<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">	
    <meta charset="utf-8">
    <title>Student Attendance, Marks Management and SMS Portal</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles/main.css">
</head>
<body ng-app="myApp" ng-controller="myCtrl" ng-init="checkuser()">
    
    <div class="header" ng-class="navClass" ng-init="show_data()">
        <img draggable="false" class="logo" src="images/logo.png">
        <ul class="nav">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <div class="dropdown">
                    <a href="" class="dropbtn" ng-show="h2">Student</a>
                    <div class="dropdown-content" style="min-width:260px;">
                        <a href="managestud.html" ng-show="h1">Manage Student</a>
                        <a href="addstud.html"ng-show="h1">Add Student</a>
                        <a href="viewstud.html" ng-show="h2">View/Edit/Delete Student</a>
                        <a href="studsubject.html" ng-show="h1">Manage Student Subject</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="dropdown">
                    <a href="" class="dropbtn">Attendance</a>
                    <div class="dropdown-content" style="min-width:280px;">
                        <a href="importaddattend.html" ng-show="h3">Import/Add Attendance</a>
                        <a href="viewattend.html">View/Edit/Delete Attendance</a>
                        <a href="attendreport.html" ng-show="h2">Attendance Report</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="dropdown">
                    <a href="" class="dropbtn">Examination</a>
                    <div class="dropdown-content" style="min-width:240px;">
                        <a href="manageexam.html" ng-show="h1">Manage Examination</a>
                        <a href="viewmark.html">View/Edit/Delete Marks</a>
                        <a href="importaddmark.html" ng-show="h3">Import/Add Marks</a>
                        <a href="marksreport.html" ng-show="h2">Marks Report</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="dropdown">
                    <a href="" class="dropbtn" id="active" ng-show="h1">Settings</a>
                    <div class="dropdown-content" style="min-width:190px;">
                        <a href="managecourse.html">Manage Course</a>
                        <a href="managesubject.html">Manage Subject</a>
                        <a href="managesection.html" id="active">Manage Section</a>
                        <a href="manageusers.html">Manage Users</a>
                    </div>
                </div>
            </li>
            <li>
                <a href="sms.html" ng-show="h2">SMS</a>
            </li>
            <li>
                <a href="" ng-click="showConfirm()"><i class="fa fa-sign-out"></i>Logout</a>
            </li>
        </ul>
    </div>
    
    <div class="bannerText">
        <button class="edit" ng-click="add()" onclick="document.getElementById('id').style.display='block'"> Add Record</button>
        <div id="id" class="modal">
            <div class="modal-content animate-top">
                <header> 
                    Manage section
                </header>
                <form name="myform" novalidate autocomplete="off">
                <div class="container">  
                    <label class="label1">Course</label>
                    <select ng-model="course" name="course" ng-init="drop1()" class="form-control select1" required>
                        <option value=""></option>
                        <option ng-repeat="x in drop1">{{x.course}}</option>
                    </select>
                    <div>
                    <span ng-show="myform.$submitted || myform.course.$dirty">
                     <span class="error" ng-show="myform.course.$error.required"><i class="fa fa-exclamation-circle"></i> Course Required</span>
                    </span><br/>
                    </div>
                    <label class="label1">Section</label>
                    <input type="text" name="section" ng-model="section" onkeyup="this.value = this.value.toUpperCase();" class="form-control" placeholder="Enter Section" required>
                    <div>
                    <span ng-show="myform.$submitted || myform.section.$dirty">
                        <span class="error" ng-show="myform.section.$error.required"><i class="fa fa-exclamation-circle"></i> Section Required</span>
                    </span><br/>
                    </div>                              
                </div>
                <footer>
                    <button class="update" type="submit" name="insert" ng-click="insert()">{{btnName}}</button>
                    <button onclick="document.getElementById('id').style.display='none',body.style.overflow = 'hidden';" ng-click="reload()" class="delete" style="margin-left: 50px"><i class="fa fa-close"></i> Close</button>
                </footer>
                </form>
            </div>
        </div>
        <table>
            <tr>
                <th>Year</th>
                <th>Sem</th>
                <th>Course</th>
                <th>Section</th>
                <th>Delete</th>
            </tr>
            <tr ng-show="student.length!=0" ng-repeat="x in student">
                <td>{{x.year}}</td>
                <td>{{x.sem}}</td>
                <td>{{x.course}}</td>
                <td>{{x.section}}</td>
                <td>
                    <button class="delete" ng-click="delete_data(x.section )">
                        <i class="fa fa-trash"></i> Delete
                    </button>
                </td>
            </tr>
            <tr>
                <td colspan="5" ng-show="student.length==0">No Records Found</td>
            </tr>
        </table> 
    </div>
</body>
<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope, $http,$window){
    $scope.showConfirm = function () {
        if ($window.confirm("Are you sure want to Logout?")) {
            $scope.Message = "You clicked YES.";
            location.href = 'php/logout.php';
        } 
        else {
            $scope.Message = "You clicked NO.";
        }
    }
    $scope.navClass = '.header';
    angular.element($window).bind("scroll", function() {
        if(window.pageYOffset > 0) {
            $scope.navClass = 'active';
        } 
        else {
            $scope.navClass = '.header';
        }
        $scope.$apply();
    });
    $scope.checkuser=function(){
        $scope.h1=false;
        $scope.h2=false;
        $scope.h3=false;
        $http.get('php/checkuser.php')
        .success(function(data){
            if(data=="user"){
                location='login.html';
            }else if(data=="admin"){
                $scope.h1=true;
                $scope.h2=true;
                $scope.h3=true;
            }else if(data=="Academic Advisor"){
                $scope.h2=true;
            }else if(data=="Subject Lecturer"){
                $scope.h3=true;
            }
        });
    }
    $scope.reload = function() {
        $window.location.reload();
    }
    $scope.drop1=function(){
        $http.get('php/dropdown1.php')
        .success(function(data) {
            $scope.drop1 = data;
        });
    }
    $scope.add = function() {
        $scope.course = null;
        $scope.section = null;
        $scope.btnName = "Insert";
    }
    $scope.show_data = function() {
        $http.get("php/sectiondisplay.php")
        .success(function(data) {
            $scope.student = data;
        });
    }
    
    $scope.insert = function() {
        if ($scope.section != null && $scope.course != null) {
            $http.post(
                "php/sectioninsert.php", {
                    'course': $scope.course,
                    'section': $scope.section,
                    'btnName': $scope.btnName
                }
            ).success(function(data) {
                 alert(data); 
                $scope.show_data();
                $window.location.reload();
            });
        }
    }
    $scope.delete_data = function(section) {
        if (confirm("Are you sure you want to delete?")) {
            $http.post("php/sectiondelete.php", {
                'section': section
            })
            .success(function(data) {
                alert(data);
                $window.location.reload();
                $scope.show_data();
            });
        } else {
            return false;
        }
    }
});
</script>
</html>